/**
 * Flexible content image in handle
 */

.acf-fc-layout-handle img {
	width: 100px;
	vertical-align: middle;
	margin: 0 1rem;
}

/**
 * Flexible content preview image styles
 */
.acf-fc-preview-image { 
	position: absolute;
	right: 100%;
	top: 0px;
	z-index: 999999;
	border: 1px solid #2F353E;
	box-shadow: 0px 0px 3px #b6b6b6;
	background-color: #2F353E;
	padding: 10px;
	border-radius: 5px;
}

.acf-fc-preview-image img { 
	width: 300px; 
	height: auto; 
	display: block; 
}

/**
 * When using 'combined_modules', remove section__header from clone
 */
[data-layout="combined_modules"] .acf-fields .acf-field-flexible-content .acf-fields [data-name="section__header"] {
	display: none;
}